.hero {
  // border: 2px solid red;
  text-align: center;
  padding-bottom: 5em;
  .copy {
    // border: 1px solid blue;
    margin: 1.2em 0 2.5em;
  }
  &__image {
    // border: 1px solid red;
    height: 300px;
    background: url("../images/image-mockups.png") center bottom no-repeat,
      url("../images/bg-intro-mobile.svg") center no-repeat;
    background-size: 345px, cover;
    margin-bottom: 1.5em;
  }
}
