.why {
  // border: 1px solid red;
  background: var(--LightGrayishBlue);
  text-align: center;
  padding: 4em 0 2em;
  .copy {
    margin: 1.2em 0 4em;
  }
  &__item {
    // border: 1px solid red;
    .copy {
      margin: 1.2em 0 2.5em;
    }
    img {
      margin-bottom: 1.5em;
    }
  }
}
